<h3>Create Driver</h3>
<div [hidden]="submitted" style="width: 300px">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        required
        [(ngModel)]="driver.firstName"
        name="firstName"
      />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        required
        [(ngModel)]="driver.lastName"
        name="lastName"
      />
    </div>

    <div class="form-group">
      <label for="emailId">First Email</label>
      <input
        type="text"
        class="form-control"
        id="emailId"
        required
        [(ngModel)]="driver.emailId"
        name="emailId"
      />
    </div>

    <div class="form-group">
      <label for="patent">First Patent</label>
      <input
        type="text"
        class="form-control"
        id="patent"
        required
        [(ngModel)]="driver.patent"
        name="patent"
      />
    </div>

    <div class="form-group">
      <label for="modelo">First Modelo</label>
      <input
        type="text"
        class="form-control"
        id="modelo"
        required
        [(ngModel)]="driver.modelo"
        name="modelo"
      />
    </div>

    <div class="form-group">
      <label for="years">First years</label>
      <input
        type="text"
        class="form-control"
        id="years"
        required
        [(ngModel)]="driver.years"
        name="years"
      />
    </div>

    <button type="submit" class="btn btn-success text-left">Submit</button>
    <button (click)="gotoList()" class="btn btn-primary">Cancel</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
